@font-face {
    font-family: cat;
    src: url(./BackToBlackBoldDemo-gG43.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
/* #main{
    height: 80%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1743080408649-304d5d8fe153?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 40px;

} */
/* button{
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: 3px solid rgb(8, 236, 248);
    font-weight: 600;
} */
/* #car1{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 230px;
    background-color: red;
} */
/* #box{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: red;
} */
/* #smallbox{
   
    width: 100px;
    height: 100px;
    background-color: rgb(238, 255, 0);
} */
/* #microbox{
   
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 64);
}
#actualbox{
    position: absolute;
    left: 80%;
    width: 20px;
    height: 20px;
    background-color: rgb(126, 83, 234);
}
#homepage{
    width: 100%;
    height: 3000px;
    background-color: #222;
} */
/* #side{
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    height: 300px;
    background-color: blue;
} */
#parent{
    width: 100%;
    height: 3000px;
    background-color: #222;
}
#child{
    width: 100%;
    height: 2000px;
    background-color:#333;
}
#child2{
    width: 100%;
    height: 2000px;
    background-color:#555;
}
#sticky{
    position: sticky;
    top: 0%;
    width: 100px;
    height: 100px;
    background-color: aqua;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: black;    

}
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#box2{
    height: 200px;
    width: 200px;
    background-color:lightblue;
}
#box3{
    height: 200px;
    width: 200px;
    background-color:lightseagreen
}