@import "button";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
// @mixin flexCenter(){
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// main{
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     @include flexCenter();

//  section{
//     height: 50%;
//     width: 50%;
//     background-color: rgb(255, 250, 250);
//     border-radius: 10px;
//     @include flexCenter();
// }

// h1{
//     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     color:darkmagenta
// }
// }

// @mixin button-style($bg-color){
//     padding: 20px 30px;
//     margin: 10px;
//     background-color: $bg-color;
//     color: white;
//     border: none;
//     border-radius: 10px;
//     outline: none;
//     cursor: pointer;
//     font-size: 18px;   
// }
// .blue{
//     @include button-style(blue);
// }
// .red{
//     @include button-style(red);
// } 
.blue{
    @include button-style(blue,white,18px);
}
.red{
    @include button-style(red,white,20px)
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;

    section{
        height: 100%;
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    }
    section:hover{
        flex-grow: 3;
    }
    section:nth-child(1){
        background-image: url(./santaclaus.jpg);
    }
    section:nth-child(2){
        background-image: url(./Nature.jpg);
    }
    section:nth-child(3){
        background-image: url(./CAT.jpg);
    }
    section:nth-child(4){
        background-image: url(./Flower.jpg);
    }
    section:nth-child(5){
        background-image: url(./Mountain.jpg);
    }
}