*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(197, 185, 185);
}
#box{
    height:30vmin;
    width:30vmin;
    background-color: crimson;
}
#inner{
    height:50%;
    width: 50%;
    background-color: lightblue;
}
h1{
    font-size: 10vmin;
    
}