*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 8;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    position: absolute;
    left: 50%;
    top: 60%;
    
}
#box3{
    height: 200px;
    width: 200px;
    background-color:lightseagreen;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}