*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
/* h1{
    display: inline-block;
    background-color: antiquewhite;
} */
/* h2{
    display: inline-block;
} */
/* #box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
} */
/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-template-rows:10% 10% 20% 20%;

} */
/* .box{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 2px solid black;
} */
/* .box:nth-child(2n-1){
    background-color: lightblue;
} */
/* .box:nth-last-child(3){
    background-color: lightseagreen;
    border-bottom: 2px solid black;

} */

body{
    background-color: black;
}
#parent{
    height: 300px;
    width: 100%;
    background-color: #333;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    overflow: auto;
}
#parent::-webkit-scrollbar{
    display: none;
    /* background-color: lightblue;
    height:10px ; */
}
#parent::-webkit-scrollbar-thumb{
    background-color:royalblue ;
}
.child{
    height:100%;
    width: 300px;
    background-color: white;
    border-radius:20px;
    flex-shrink:0;
}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}