
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#nav{
    padding:10px 30px ;
}
#nav a {
    color: black;
    font-size: 25px;
    margin-right: 30px;
    text-decoration: none;
}
#main>h1{
    font-size: 300px;
    padding: 30px;
    font-weight: 100;
   

}
#btmleft{
    width:200px ;
    position: absolute;
    bottom: 20%;
    left: 3%;
}
#btmleft h3{
    font-size: 15px;
}
#btmleft p{
    margin-top: 10px;
    font-size: 10px;

}
#btmleft h4{
    margin-top: 30px;
    font-size: 15px;
}
#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 8px;
    position: absolute;
    padding: 30px 40px;
    bottom: 0;
    left: 0px;
}
#bottombar a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
#main>img{
    position: absolute;
    height: 200px;
}
#main #first{
    height: 200px;
    top: 40%;
    left: 50%;
}
#main #second{
    height: 200px;
    top: 50%;
    left: 60%;
}
#main #third{
    height: 200px;
    top: 50%;
    left: 40%;
}