*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;  
}
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective:500px ;
} */
#box{
    height: 500px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1760258898970-638d76389a34?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    /* transform: rotateY(45deg); */
    transform: scale(1);
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    padding: 20px;
    display: flex;
    gap: 10px;
   
}

.card{
    height: 250px;
    width: 300px;
    background-color: white; 
    position: relative;  
    border-radius: 20px;
    overflow: hidden; 
    
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent,black);
    position: absolute;
    bottom:-40%;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all ease o.5;
}

.card:hover .bottom{
    /* background-color: black;
    rotate: 40deg; */
    bottom:0;
}
.bottom h3{
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}
.bottom h4{
    color: white;
    font-size:20px;
    font-weight: 600;
}