*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:1fr 1fr 1fr  ;
    grid-template-rows:70px 1fr 100px;
    grid-gap: 10px;   
} */
/* .child{
    background-color: rgb(233, 10, 133);
    border: 3px solid white;  
} */
#child1{
   grid-row: 1/2;
   grid-column: 1/3;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-gap:10px;
    padding: 10px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:70px 1fr 1fr ;
    grid-template-areas:"header header header"
                         "section section section"
                         "div1 div2 div3" ;
}
header{
    background-color: palevioletred;
    grid-area: header;
}
section{
    background-color: lightsalmon;
    grid-area: section;
}
#div1{
    background-color: lightseagreen;
    grid-area: div1;
}
#div2{
    background-color:rgb(21, 106, 191);
    grid-area: div2;
}
#div3{
    background-color: rgb(142, 8, 102);
    grid-area: div3;
}
